<h2>Full Information</h2>

<p><b>Full Name: </b> <%= @main.name %></p>
<p><b>Email : </b> <%= @main.email %></p>
<p><b>Section: </b> <%= @main.section %></p>
<p><b>Age: </b> <%= @main.age %></p>

<p><%= link_to "Return", "/" %></p>
